*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

background:#0d0d0d;

color:white;

font-family:
Arial,
sans-serif;

}

header{

position:fixed;

top:0;

left:0;

width:100%;

padding:24px 70px;

display:flex;

justify-content:space-between;

align-items:center;

background:
rgba(0,0,0,.85);

backdrop-filter:
blur(10px);

z-index:1000;

}

.logo img{

height:90px;

display:block;

}

nav{

display:flex;

gap:42px;

}

nav a{

color:white;

text-decoration:none;

font-weight:800;

letter-spacing:1px;

}

nav a:hover{

color:#8f60c7;

}

.slide{

min-height:100vh;

padding:

180px
90px;

display:flex;

justify-content:center;

flex-direction:column;

}

.hero{

background:

linear-gradient(
180deg,
#111,
#050505
);

}

.content{

max-width:700px;

}

h1{

font-size:92px;

line-height:.95;

margin-bottom:30px;

}

h2{

font-size:72px;

margin-bottom:40px;

color:#8f60c7;

}

p{

font-size:22px;

line-height:1.8;

}

.button,
button{

margin-top:40px;

padding:

18px
36px;

background:#8f60c7;

border:none;

color:white;

font-weight:800;

text-decoration:none;

cursor:pointer;

width:max-content;

}

.contact{

display:grid;

grid-template-columns:

1fr
1fr;

gap:100px;

}

input,
textarea{

width:100%;

padding:18px;

margin-bottom:18px;

background:#171717;

border:

1px solid #333;

color:white;

}

textarea{

height:180px;

}

#shop{

background:

linear-gradient(
180deg,
#161616,
#080808
);

}

@media(max-width:900px){

header{

padding:20px;

flex-direction:column;

gap:20px;

}

.logo img{

height:70px;

}

nav{

gap:18px;

flex-wrap:wrap;

justify-content:center;

}

h1{

font-size:58px;

}

h2{

font-size:48px;

}

.slide{

padding:

160px
30px;

}

.contact{

grid-template-columns:1fr;

}

}
